a {
    color: brown;
}
/* :hover არის ფსევდოკლასი რომელიც მოქმედებს როცა კურსორს მივიტანთ ელემენტთან */
a:hover {
    color: rgb(0, 136, 255);
}
/* :active არის ფსევდო კლასი რომელიც მოქმედებს როცა კურსორს მივიტანთ ელემენტთნ და დავაკლიკებთ */
a:active {
    color: black;
}