body {
    background-color: blue;
}

h1 {
    border: 2px solid red;
    border-radius: 50px;
    background-color: red;
    color: black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    border: 2px solid green;
    border-radius: 50px;
    background-color: green;
    color: red;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

button {
    border: 2px solid rgb(255, 121, 143);
    border-radius: 50px;
    background-color: pink;
    color: black;
}