/* 3) დაწერეთ როგორ მუშაობს padding და margin, ჩამოთვალეთ CSS Box Model-ის ყველა შრე. ასევე CSS-ში დაწერეთ CSS reset-ის კოდი და ახსენით რისთვის ვიყენებთ */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* css reset-ს ვიყენებთ იმისათის რადგან თვიდანვე ყველაფერი დაიწყოს ნულიდან სხვა და სხვა ბრაუზერს გააჩნია ელემენტთ შორის დაცილებები ხოლო css reset მას აქრობს */


div {
    background-color: blue;
    width: 200px;
    /* margin მუშაობს ესე როცა მას გავუწერთ მაგალითდ ოცდაად პიqსელს ის ოცდაათი პიხელით გაიწევს მაგალითდ ავიღთ ეს კოდი margin-left:30%; ანუ მარცხენა კედლიდან გაიწევს div თეგი body თეგის  ოცდაათი პროცენტით*/
    margin-left: 30%;  
    margin-top: 30%;
    /* padding აკეთებს დაშორებას ელემენტსა და ელემენტის საზღვარს შორის მაგალითდ როგორც ამკოდშია დაწერილი padding: 10%; ეს ყველა კუთეს დააშორებს ელემენტიდან div თგის ათი პროცენტით */
    padding: 10%;
    text-align: center;
}

/* CSS Box Model აქვს სამი შრე ესენია padding,margin და border */