/* 5) შექმენით div ელემენტი id="container". მას მიანიჭეთ width და height მნიშვნელობები, მაგალითად 300px და 200px, ასევე background-color.

შემდეგ ამ ელემენტს გაუწერეთ შემდეგი თვისებები:
- padding: 20px;
- border: 5px solid black;
- margin: 30px;

დამატეთ კომენტარები კოდის თავზე ან შიგნით, სადაც განმარტავთ:
- რა არის padding
- რა არის border
- რა არის margin
- რა არის content

ასევე მიუთითეთ, როგორ მუშაობს მთლიანობაში Box Model. */

/* content არის ელემენტი რომელსაც გარედან აქვს სამი შრე */
#container {
    width: 300px;
    height: 200px;
    /* padding არის ელემენტს და ელემენტის საზღარსშორის დაშორება რომელიც ყოველთის ელემენტის background-ის ფერი */
    padding: 20px;
    /* border არის ელემენტის გარე საზღვარი  */
    border: 5px solid black;
    /* margin არის საზღვრის გარე უხილავი შრე */
    margin: 30px;
}

/* css box model - აღწერს თუ როგორ განთავსდება html ელემენტი ვებგვერდზე, ყოველი ელემენტი არის იგივე მართკუთხედი, რომელიც შედგება ოთხი ელემენტისგან ესენია: content,padding,border,margin
 */