* {
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap:20px;

}

#icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 10px;
    gap: 30px;
    color: #666666;
    padding-right:20px;
}

.icdivs , #icdiv5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
}

#icdiv5 {
    padding-left:30px;
    padding-right:30px;
    border-left: 1px solid #666666;
    border-right:1px solid #666666 ;
}

h1 {
    font-size: 20px;
    margin-right:200px;
    color:rgb(1, 90, 205);
}

#h1b {
    background-color: rgb(1, 90, 205);
    color:white;
    height: fit-content;
    padding-left: 2px;
    padding-right:2px;
    border-radius: 3px;
}

#joinbtn {
    background-color: white;
    border:none;
    color: #666666;
    font-weight: 600;
}

#signinbtn {
    background-color: white;
    border: 1px solid rgb(1, 90, 205);
    border-radius: 30px;
    padding-left: 18px;
    padding-right:18px;
    padding-bottom: 9px;
    padding-top: 9px;
    color:rgb(1, 90, 205);
    font-weight: 600;
}

#content {
    width: 100%;
    height: 80vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#register {
    display:flex;
    flex-direction: column;
    gap: 20px;
    width: 450px;
}

h3 {
    font-size: 40px;
    font-weight: 100;
    color: #b04000;
}

.input {
    display: flex;
    flex-direction: column;
    gap:5px;
}
input {
    width: 320px;
    height: 40px;
    border: 1.5px solid grey;
    border-radius: 3px;
}

label {
    font-size: 14px;
}

#fgps {
    padding-top: 10px;
    font-size: 14px;
    font-weight: 700;
    color: rgb(1, 90, 205);
}
.b  {
    font-weight: 700;
    color: rgb(1, 90, 205);
}
#signinbtn2 {
    width: 320px;
    height: 40px;
    border-radius: 30px;
    background-color: rgb(1, 90, 205);
    border:1px solid rgb(1, 90, 205);
    color:white;
}

#or {
    padding-left: 150px;
    color:#666666;
}

#text {
    font-size: 10px;
    
}

#continue {
    width: 320px;
    height: 40px;
    border-radius: 30px;
    border:1px solid #666666;
    background-color:white;
}

#linked {
    width: 320px;
    height: 40px;
    border-radius: 30px;
    border:1px solid #666666;
    background-color:white;
}

#imagediv {
    background-image: url(Screenshot\ 2025-11-16\ 224611.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh; 
    width: 40%;
}

