#yellow {
    color: yellow;
}

#red {
    color: rgb(255, 0, 0);
}

#brown {
    color: brown;
}

#green {
    color: rgb(0, 255, 0);
}

#blue {
    color: rgb(0, 0, 255);
}

#pink {
    color: pink;
}

#purple {
    color: purple;
}