* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Roboto", sans-serif;
}

#parent {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.btn1{
    background-color: green;
    height: 60px;
    width: 200px;
    border: 2px solid black;
    border-radius: 30px;
    font-size: larger;
    color: white;
}
.btn{
    margin-right: 20px;
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 30px;
    font-size: larger;
    color: rgb(255, 0, 0);
}

#Rock {
    background-image: url("2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#Paper {
    background-image: url("1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#Scissors {
    background-image: url("3.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.btn:hover {
    background-color: rgb(0, 9, 128);
    height: 220px;
    width: 220px;
}

