* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

#content {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#imagediv {
    height: 400px;
    width: 400px;
    background-image: url("iphon.jpg");
    background-position: center;
    background-size: cover;
}

#parent {
    height: 10px;
    width: 300px;
    background-color: grey;
    border-radius: 30px;
}


#chaild {
    background-color: white;
    width: 10px;
    height: 10px;
    animation: loading ease-in 4s;
    animation-iteration-count: infinite;
    border-radius: 30px;
}

@keyframes loading {
    0% {
        width: 10px;
    }
    50% {
        width: 300px;
    }
}



